.resultsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
    font-size: 20px;
    color: white;

    h2 {
      margin: 0.2rem auto 0;
      text-align: center;
      color: #0575ff;
      letter-spacing: 1.4px;
    }

    span {
      color: orange;
      font-size: 20px;
      font-weight: bold;
    }

    button {
      background-image: linear-gradient(
        0deg,
        rgb(43, 1, 255) 0.03%,
        rgb(1, 249, 166)
      );
      color: white;
      padding: 10px 35px;
      border: none;
      outline: none;
      cursor: pointer;
      border-radius: 1rem;
      margin: 0.6rem 0;
      font-size: 16px;

      &:hover {
        background-image: linear-gradient(
          0deg,
          rgb(33, 2, 189) 0.03%,
          rgb(0, 166, 111)
        );
      }
    }
  }